In [1]:
import pandas as pd

In [ ]:
dataset = pd.read_csv(
    '../../../SALARIES.csv',
    sep=',',
    on_bad_lines='skip',  # Ignorer les lignes mal formées
    encoding='utf-8',  # ou 'latin1' si erreur
    engine='python'  # Moteur plus permissif
)
dataset

,ID_adherent,newImmatriculatedId,firstName,lastName,immatriculationNumber,cin,passportNumber,residenceNumber,creationDate,demandMode,affiliateName,affiliateNumber,demandState
0,67,160434482,IMANE,IBARIOUEN,143527311,JM48746,NaN,NaN,2019-02-06,EDI,CAISSE NATIONALE DE SECURITE SOCIALE,1905845.0,NaN
1,67,160434483,LAYLA,HASSNAOUI,143527412,JC570029,NaN,NaN,2019-02-06,EDI,CAISSE NATIONALE DE SECURITE SOCIALE,1905845.0,NaN
2,67,160447615,MEHDI,YAKINE,144415719,BK640297,NaN,NaN,2019-02-11,EDI,CAISSE NATIONALE DE SECURITE SOCIALE,1905845.0,NaN
3,67,160447616,AYOUB,YAHYA,144415810,AD249277,NaN,NaN,2019-02-11,EDI,CAISSE NATIONALE DE SECURITE SOCIALE,1905845.0,NaN
4,67,160447617,WAFAE,RABHI,144415911,F541392,NaN,NaN,2019-02-11,EDI,CAISSE NATIONALE DE SECURITE SOCIALE,1905845.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994822,160325754,163638342,RABIA,BOUGOUDI,139560151,JD98117,NaN,NaN,2023-11-16,EFI,ASSO IDOU SALH DEV ET COOPERATION,5135100.0,VALIDATED
1994823,160325754,163638345,AICHA,ANJJAR,139560454,JD57625,NaN,NaN,2023-11-16,EFI,ASSO IDOU SALH DEV ET COOPERATION,5135100.0,VALIDATED
1994824,160325754,163638387,AISSA,BOURJA,139560656,JD80824,NaN,NaN,2023-11-16,EFI,ASSO IDOU SALH DEV ET COOPERATION,5135100.0,VALIDATED
1994825,160325754,163638388,KHADIJA,ID LKAZANAT,139560757,JD78841,NaN,NaN,2023-11-16,EFI,ASSO IDOU SALH DEV ET COOPERATION,5135100.0,VALIDATED
1994826,160325754,163651025,ISMAIL,BEN MOHAMED,140142855,JD98395,NaN,NaN,2023-11-22,EFI,ASSO IDOU SALH DEV ET COOPERATION,5135100.0,VALIDATED

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994827 entries, 0 to 1994826
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID_adherent            int64
 1   newImmatriculatedId    int64
 2   firstName              object
 3   lastName               object
 4   immatriculationNumber  object
 5   cin                    object
 6   passportNumber         object
 7   residenceNumber        object
 8   creationDate           object
 9   demandMode             object
 10  affiliateName          object
 11  affiliateNumber        float64
 12  demandState            object
dtypes: float64(1), int64(2), object(10)
memory usage: 197.9+ MB

In [4]:
# Analyser les colonnes
print("=== ANALYSE DES FEATURES ===\n")

# 1. Valeurs manquantes
print("Valeurs manquantes par colonne:")
print(dataset.isnull().sum())
print("\n")

# 2. Colonnes constantes
print("Colonnes avec une seule valeur unique:")
for col in dataset.columns:
    if dataset[col].nunique() == 1:
        print(f"  - {col}")
print("\n")

# 3. Cardinalité (nombre de valeurs uniques)
print("Cardinalité des colonnes:")
print(dataset.nunique().sort_values())
print("\n")

# 4. Types de données
print("Types de données:")
print(dataset.dtypes)

=== ANALYSE DES FEATURES ===

Valeurs manquantes par colonne:
ID_adherent                    0
newImmatriculatedId            0
firstName                      9
lastName                       2
immatriculationNumber        237
cin                        42255
passportNumber           1965861
residenceNumber          1976707
creationDate                   0
demandMode                     0
affiliateName                  0
affiliateNumber                2
demandState              1862665
dtype: int64


Colonnes avec une seule valeur unique:


Cardinalité des colonnes:
demandState                    2
demandMode                     4
creationDate                2249
residenceNumber            18114
passportNumber             28964
firstName                  93790
affiliateName             175633
affiliateNumber           175963
ID_adherent               175964
lastName                  400473
cin                      1944755
immatriculationNumber    1993222
newImmatriculatedId      1994826
dtype: int64


Types de données:
ID_adherent                int64
newImmatriculatedId        int64
firstName                 object
lastName                  object
immatriculationNumber     object
cin                       object
passportNumber            object
residenceNumber           object
creationDate              object
demandMode                object
affiliateName             object
affiliateNumber          float64
demandState               object
dtype: object

In [ ]:
# Colonnes à supprimer
colonnes_a_supprimer = [
    'firstName', 'lastName', 'cin', 'residenceNumber', 'affiliateName', 'passportNumber', 'demandState', 'newImmatriculatedId'
]

# Filtrer seulement les colonnes qui existent dans the dataset
colonnes_existantes = [col for col in colonnes_a_supprimer if col in dataset.columns]

# Supprimer les colonnes
dataset_clean = dataset.drop(columns=colonnes_existantes)

print(f"Colonnes supprimées : {colonnes_existantes}")
print(f"\nNombre de colonnes avant : {len(dataset.columns)}")
print(f"Nombre de colonnes après : {len(dataset_clean.columns)}")
print(f"\nColonnes restantes : {list(dataset_clean.columns)}")

Colonnes supprimées : ['firstName', 'lastName', 'cin', 'residenceNumber', 'affiliateName', 'passportNumber', 'demandState', 'newImmatriculatedId']

Nombre de colonnes avant : 13
Nombre de colonnes après : 5

Colonnes restantes : ['ID_adherent', 'immatriculationNumber', 'creationDate', 'demandMode', 'affiliateNumber']

In [6]:
dataset_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994827 entries, 0 to 1994826
Data columns (total 5 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID_adherent            int64
 1   immatriculationNumber  object
 2   creationDate           object
 3   demandMode             object
 4   affiliateNumber        float64
dtypes: float64(1), int64(1), object(3)
memory usage: 76.1+ MB

In [7]:
dataset_clean

,ID_adherent,immatriculationNumber,creationDate,demandMode,affiliateNumber
0,67,143527311,2019-02-06,EDI,1905845.0
1,67,143527412,2019-02-06,EDI,1905845.0
2,67,144415719,2019-02-11,EDI,1905845.0
3,67,144415810,2019-02-11,EDI,1905845.0
4,67,144415911,2019-02-11,EDI,1905845.0
...,...,...,...,...,...
1994822,160325754,139560151,2023-11-16,EFI,5135100.0
1994823,160325754,139560454,2023-11-16,EFI,5135100.0
1994824,160325754,139560656,2023-11-16,EFI,5135100.0
1994825,160325754,139560757,2023-11-16,EFI,5135100.0
1994826,160325754,140142855,2023-11-22,EFI,5135100.0

In [8]:
# Afficher l'état avant nettoyage
print("=== AVANT NETTOYAGE ===")
print(f"Nombre de lignes : {len(dataset_clean)}")
print(f"Nombre de doublons : {dataset_clean.duplicated().sum()}")
print(f"Nombre de lignes avec valeurs nulles : {dataset_clean.isnull().any(axis=1).sum()}")
print("\n")

# 1. Supprimer les doublons
dataset_clean = dataset_clean.drop_duplicates()
print(f"Après suppression des doublons : {len(dataset_clean)} lignes")

# 2. Supprimer les lignes avec valeurs nulles
dataset_clean = dataset_clean.dropna()
print(f"Après suppression des nulles : {len(dataset_clean)} lignes")

# Afficher l'état après nettoyage
print("\n=== APRÈS NETTOYAGE ===")
print(f"Nombre de lignes final : {len(dataset_clean)}")
print(f"Valeurs nulles restantes : {dataset_clean.isnull().sum().sum()}")
print(f"Doublons restants : {dataset_clean.duplicated().sum()}")

=== AVANT NETTOYAGE ===
Nombre de lignes : 1994827
Nombre de doublons : 642
Nombre de lignes avec valeurs nulles : 239


Après suppression des doublons : 1994185 lignes
Après suppression des nulles : 1994090 lignes

=== APRÈS NETTOYAGE ===
Nombre de lignes final : 1994090
Valeurs nulles restantes : 0
Doublons restants : 0

In [9]:
for i in dataset_clean.columns:
    print(i+':',dataset_clean[i].unique())

ID_adherent: [       67        68        73 ... 160325740 160325753 160325754]
immatriculationNumber: ['143527311' '143527412' '144415719' ... '139560656' '139560757'
 '140142855']
creationDate: ['2019-02-06' '2019-02-11' '2019-02-12' ... '2019-07-14' '2019-03-23'
 '2021-05-13']
demandMode: ['EDI' 'EFI']
affiliateNumber: [1905845. 1928079. 1929415. ... 5135097. 5111958. 5135100.]

In [10]:
# Convertir les colonnes de dates en datetime
if 'creationDate' in dataset_clean.columns:
    dataset_clean['creationDate'] = pd.to_datetime(dataset_clean['creationDate'], errors='coerce')
    
    # Features d'ancienneté (mois depuis aujourd'hui)
    dataset_clean['anciennete_adhesion_months'] = (pd.Timestamp.now() - dataset_clean['creationDate']).dt.days / 30.44
    dataset_clean['anciennete_adhesion_months'] = dataset_clean['anciennete_adhesion_months'].round(0)
    
    # Supprimer les colonnes de dates originales
    dataset_clean = dataset_clean.drop('creationDate', axis=1)
    
    print("✓ Feature 'anciennete_adhesion_months' créée")

# Afficher les nouvelles features extraites
print("\nFeatures extraites des dates:")
print([col for col in dataset_clean.columns 
       if any(keyword in col for keyword in ['anciennete_adhesion_months'])])

# Afficher les colonnes finales
print(f"\nColonnes finales ({len(dataset_clean.columns)}): {list(dataset_clean.columns)}")

✓ Feature 'anciennete_adhesion_months' créée

Features extraites des dates:
['anciennete_adhesion_months']

Colonnes finales (5): ['ID_adherent', 'immatriculationNumber', 'demandMode', 'affiliateNumber', 'anciennete_adhesion_months']

In [11]:
dataset_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1994090 entries, 0 to 1994826
Data columns (total 5 columns):
 #   Column                      Dtype
---  ------                      -----
 0   ID_adherent                 int64
 1   immatriculationNumber       object
 2   demandMode                  object
 3   affiliateNumber             float64
 4   anciennete_adhesion_months  float64
dtypes: float64(2), int64(1), object(2)
memory usage: 91.3+ MB

## Étape 1: Encoder les variables catégorielles

In [12]:
# Identifier les colonnes catégorielles (type object)
categorical_cols = dataset_clean.select_dtypes(include=['object']).columns.tolist()
print("Colonnes catégorielles à encoder:")
for col in categorical_cols:
    print(f"  - {col}: {dataset_clean[col].nunique()} valeurs uniques")
print(f"\nTotal: {len(categorical_cols)} colonnes")

Colonnes catégorielles à encoder:
  - immatriculationNumber: 1993220 valeurs uniques
  - demandMode: 2 valeurs uniques

Total: 2 colonnes

In [13]:
from sklearn.preprocessing import LabelEncoder

# Créer une copie du dataset
dataset_encoded = dataset_clean.copy()

# Identifier les colonnes catégorielles SAUF immatriculationNumber
categorical_cols = dataset_encoded.select_dtypes(include=['object']).columns.tolist()

# EXCLURE immatriculationNumber de l'encodage (c'est un identifiant, pas une catégorie)
if 'immatriculationNumber' in categorical_cols:
    categorical_cols.remove('immatriculationNumber')

print("=== ENCODAGE DES VARIABLES CATÉGORIELLES ===\n")
print(f"Colonnes à encoder : {categorical_cols}\n")
print(f"Colonnes exclues : ['immatriculationNumber']\n")

# Encoder chaque colonne catégorielle
label_encoders = {}
for col in categorical_cols:
    le = LabelEncoder()
    dataset_encoded[col] = le.fit_transform(dataset_encoded[col].astype(str))
    label_encoders[col] = le
    print(f"✓ {col}: {len(le.classes_)} classes → encodé en [0-{len(le.classes_)-1}]")

print(f"\n✓ Encodage terminé pour {len(categorical_cols)} colonnes")

# Vérifier le résultat
print("\n=== VÉRIFICATION ===")
print(f"Colonnes de type 'object' restantes : {len(dataset_encoded.select_dtypes(include=['object']).columns)}")
print(f"immatriculationNumber préservé : {dataset_encoded['immatriculationNumber'].equals(dataset_clean['immatriculationNumber'])}")
print(f"\nTypes de données après encodage :")
print(dataset_encoded.dtypes.value_counts())

# Afficher un aperçu
print("\nAperçu des données encodées :")
dataset_encoded.head()

=== ENCODAGE DES VARIABLES CATÉGORIELLES ===

Colonnes à encoder : ['demandMode']

Colonnes exclues : ['immatriculationNumber']

✓ demandMode: 2 classes → encodé en [0-1]

✓ Encodage terminé pour 1 colonnes

=== VÉRIFICATION ===
Colonnes de type 'object' restantes : 1
immatriculationNumber préservé : True

Types de données après encodage :
int64      2
float64    2
object     1
Name: count, dtype: int64

Aperçu des données encodées :

,ID_adherent,immatriculationNumber,demandMode,affiliateNumber,anciennete_adhesion_months
0,67,143527311,0,1905845.0,82.0
1,67,143527412,0,1905845.0,82.0
2,67,144415719,0,1905845.0,82.0
3,67,144415810,0,1905845.0,82.0
4,67,144415911,0,1905845.0,82.0

In [14]:
import pickle

# 1. Sauvegarder le dataset encodé
dataset_encoded.to_csv('dataset_encoded_salaries.csv', index=False)

# 2. Sauvegarder les label encoders (pour pouvoir décoder)
with open('label_encoders_salaries.pkl', 'wb') as f:
    pickle.dump(label_encoders, f)

# 3. Sauvegarder aussi les mappings en CSV lisible
mappings_df = pd.DataFrame()
for col in categorical_cols:
    mapping = pd.DataFrame({
        'column': col,
        'code': range(len(label_encoders[col].classes_)),
        'original_value': label_encoders[col].classes_
    })
    mappings_df = pd.concat([mappings_df, mapping], ignore_index=True)

mappings_df.to_csv('encodage_mappings_salaries.csv', index=False)

print("✓ Fichiers sauvegardés :")
print("  - dataset_encoded_salaries.csv")
print("  - label_encoders_salaries.pkl")
print("  - encodage_mappings_salaries.csv")

✓ Fichiers sauvegardés :
  - dataset_encoded_salaries.csv
  - label_encoders_salaries.pkl
  - encodage_mappings_salaries.csv