In [80]:
import pandas as pd

In [81]:
dataset = pd.read_csv('../../../ADHERENTS.csv')
dataset

C:\Users\NITRO 5\AppData\Local\Temp\ipykernel_22788\1380909158.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('../../../ADHERENTS.csv')

,companyName,affiliateNumber,dateAdhesion,dateAffiliation,typeAdherent,companyNameMandataire,affiliateNumberMandataire,modaliteTelepaiement,agence,directionRegionale,...,bank_adherent_id,bank_adherent_numAffilie,bank_adherent_typeAdherent,bank_adherent_modaliteTelepaiement,bank_adherent_adherentMandataire,bank_adherent_raisonSocial,bank_accountState,bank_accountDefaultState,bank_dateCreation,bank_accountRIB
0,"""PHARMACIE CHAOUI""",7391254,2014-02-04,2007-02-01,SIMPLE_ACCOUNT,"""PHARMACIE CHAOUI""",7391254,TELEREGLEMENT,EL FIDA,SIDI OTMANE - HAY HASSANI,...,154576.0,7391254.0,SIMPLE_ACCOUNT,TELEREGLEMENT,154576.0,"""PHARMACIE CHAOUI""",ACTIF,DEFAULT,2015-09-14T09:00:15,190780212118051209001087
1,"""PHARMACIE CHAOUI""",7391254,2014-02-04,2007-02-01,SIMPLE_ACCOUNT,"""PHARMACIE CHAOUI""",7391254,TELEREGLEMENT,EL FIDA,SIDI OTMANE - HAY HASSANI,...,154576.0,7391254.0,SIMPLE_ACCOUNT,TELEREGLEMENT,154576.0,"""PHARMACIE CHAOUI""",ACTIF,DEFAULT,2015-09-14T09:00:15,190780212118051209001087
2,"BENCHEKROUNE WAFA ""LABO LA COLOMBE",6006599,2011-01-06,1998-11-01,SIMPLE_ACCOUNT,ALTIS CONSEILS,2563139,BPC,MAARIF,ANFA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"BENCHEKROUNE WAFA ""LABO LA COLOMBE",6006599,2011-01-06,1998-11-01,SIMPLE_ACCOUNT,ALTIS CONSEILS,2563139,BPC,MAARIF,ANFA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ETTIJANY HICHAM ""OPTIQUE BAGHDAD""",7129217,2018-06-07,2005-06-01,SIMPLE_ACCOUNT,"ETTIJANY HICHAM ""OPTIQUE BAGHDAD""",7129217,PRELEVEMENT_AUTOMATIQUE,MOULAY RACHID,SIDI OTMANE - HAY HASSANI,...,160037888.0,7129217.0,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,160037888.0,"ETTIJANY HICHAM ""OPTIQUE BAGHDAD""",ACTIF,DEFAULT,2022-05-05T14:14:53,230780271526621100120090
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094288,zphenix sarl au,1338548,2019-09-10,2019-02-01,SIMPLE_ACCOUNT,zphenix sarl au,1338548,TELEREGLEMENT,RABAT HASSAN,RABAT,...,160092808.0,1338548.0,SIMPLE_ACCOUNT,TELEREGLEMENT,160092808.0,zphenix sarl au,ACTIF,DEFAULT,2020-01-17T14:35:42,225815066301640651012087
1094289,²STE STABILITE SARL AU,5350666,2018-04-30,2017-04-01,SIMPLE_ACCOUNT,²STE STABILITE SARL AU,5350666,BPC,FES AGDAL,FES BOULMANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094290,²STE STABILITE SARL AU,5350666,2018-04-30,2017-04-01,SIMPLE_ACCOUNT,²STE STABILITE SARL AU,5350666,BPC,FES AGDAL,FES BOULMANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1094291,întelligence of objects sarl,5747722,2020-01-08,2018-02-01,SIMPLE_ACCOUNT,întelligence of objects sarl,5747722,TELEREGLEMENT,RABAT HASSAN,RABAT,...,160107452.0,5747722.0,SIMPLE_ACCOUNT,TELEREGLEMENT,160107452.0,întelligence of objects sarl,ACTIF,DEFAULT,2020-01-08T12:37:03,011810000010210001188954
1094292,întelligence of objects sarl,5747722,2020-01-08,2018-02-01,SIMPLE_ACCOUNT,întelligence of objects sarl,5747722,TELEREGLEMENT,RABAT HASSAN,RABAT,...,160107452.0,5747722.0,SIMPLE_ACCOUNT,TELEREGLEMENT,160107452.0,întelligence of objects sarl,ACTIF,DEFAULT,2020-01-08T12:37:03,011810000010210001188954

In [82]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094293 entries, 0 to 1094292
Data columns (total 28 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   companyName                         1094293 non-null  object
 1   affiliateNumber                     1094293 non-null  int64
 2   dateAdhesion                        1094293 non-null  object
 3   dateAffiliation                     1094293 non-null  object
 4   typeAdherent                        1094293 non-null  object
 5   companyNameMandataire               1094293 non-null  object
 6   affiliateNumberMandataire           1094293 non-null  int64
 7   modaliteTelepaiement                1094293 non-null  object
 8   agence                              1094293 non-null  object
 9   directionRegionale                  1094293 non-null  object
 10  admin_firstName                     1094187 non-null  object
 11  admin_lastName                      1094192 non-null  object
 12  admin_cin                           1074572 non-null  object
 13  admin_email                         567509 non-null   object
 14  admin_phoneNumber                   287700 non-null   object
 15  admin_isRL                          1094210 non-null  float64
 16  bank_accountId                      919157 non-null   float64
 17  bank_bankCode                       919157 non-null   float64
 18  bank_adherent_id                    919157 non-null   float64
 19  bank_adherent_numAffilie            919157 non-null   float64
 20  bank_adherent_typeAdherent          919157 non-null   object
 21  bank_adherent_modaliteTelepaiement  919157 non-null   object
 22  bank_adherent_adherentMandataire    919157 non-null   float64
 23  bank_adherent_raisonSocial          919157 non-null   object
 24  bank_accountState                   919157 non-null   object
 25  bank_accountDefaultState            919153 non-null   object
 26  bank_dateCreation                   909075 non-null   object
 27  bank_accountRIB                     919157 non-null   object
dtypes: float64(6), int64(2), object(20)
memory usage: 233.8+ MB

In [83]:
for i in dataset.columns:
    print(i+':',dataset[i].unique())

companyName: [' "PHARMACIE CHAOUI"' ' BENCHEKROUNE  WAFA  "LABO  LA COLOMBE'
 ' ETTIJANY HICHAM "OPTIQUE BAGHDAD"' ... 'zphenix sarl au'
 '²STE STABILITE SARL AU' 'întelligence of objects sarl']
affiliateNumber: [7391254 6006599 7129217 ... 1338548 5350666 5747722]
dateAdhesion: ['2014-02-04' '2011-01-06' '2018-06-07' ... '2003-04-11' '2005-09-02'
 '2017-09-30']
dateAffiliation: ['2007-02-01' '1998-11-01' '2005-06-01' ... '2001-05-23' '1997-09-16'
 '1209-11-01']
typeAdherent: ['SIMPLE_ACCOUNT' 'GROUP_ACCOUNT']
companyNameMandataire: [' "PHARMACIE CHAOUI"' 'ALTIS CONSEILS'
 ' ETTIJANY HICHAM "OPTIQUE BAGHDAD"' ... 'zphenix sarl au'
 '²STE STABILITE SARL AU' 'întelligence of objects sarl']
affiliateNumberMandataire: [7391254 2563139 7129217 ... 1338548 5350666 5747722]
modaliteTelepaiement: ['TELEREGLEMENT' 'BPC' 'PRELEVEMENT_AUTOMATIQUE']
agence: ['EL FIDA' 'MAARIF' 'MOULAY RACHID' 'AL AMANE' 'OUJDA CHOUHADAA'
 'FES AGDAL' 'AIN SEBAA' 'MEKNES HAMRIA' 'MARRAKECH SIDI YOUSSEF BEN ALI'
 'DERB GHALLEF' 'KENITRA AL QODS' 'ROCHES NOIRES' 'MARRAKECH INARA'
 'RABAT TAKKADOUM' 'ERFOUD' 'BEN MSIK SIDI OTHMAN' 'KENITRA SAKNIA'
 'AL AMAL' 'RABAT HASSAN' 'HAY HASSANI' 'ZIRAOUI' 'KHENIFRA' 'YOUSSOUFIA'
 'SALE TABRIQUET' 'SIDI MAAROUF' 'OUARZAZATE' 'RABAT YACOUB AL MANSOUR'
 'SALE BETTANA' 'TINGHIR' 'MEKNES ISMAILIA' 'TEMARA CENTRE' 'SBATA'
 'MOHAMMEDIA' 'BEAUSEJOUR' 'TAOUNATE' 'MY YOUSSEF' 'BOUSKOURA' 'GHAFSAI'
 'ES SMARA' 'TIT MELLIL' 'TETOUAN ABDELKHALEK TORRES' 'AL FATH'
 'SIDI KACEM' 'AL OUSRA' 'ZAGORA' 'MERS SULTAN' 'ERRACHIDIA'
 'MARRAKECH DAOUDIATE' 'ESSAOUIRA' "MARRAKECH M'HAMID" 'MEDIOUNA'
 'EL KELAA SRAGHNA' 'TEMARA AL MASSIRA' 'LAAYOUNE' 'NADOR' 'DCHEIRA'
 'EL JADIDA' 'INARA' 'SAFI NORD' 'BERKANE' 'TANGER DRISSIA' 'BENI MALLAL'
 'BOURGOGNE' 'MGHOUGHA' 'FES MOULAY EL KAMEL' 'AGADIR TALBORJT'
 'AGADIR DAKHLA' 'SIDI BELYOUT' 'CHAOUEN' 'TAROUDANT' 'AIT MELLOUL'
 'AL HOCEIMA' 'TANGER PLACE DU MAROC' 'FES SIDI BRAHIM' 'OUJDA AGDAL'
 'AIT OURIR' 'HAD SOUALEM' 'SETTAT' 'SIDI MOUMEN' 'AL WALAA' 'CHICHAOUA'
 'TANGER IBN BATOUTA' 'TAZA' 'HAKAM' 'KSAR SGHIR' 'RAHMA' 'SIDI BERNOUSSI'
 'TAFRAOUT' 'TIZNIT' 'SOCRATE' 'SAFI SIDI OUASSEL' 'DAKHLA' 'SIDI SLIMANE'
 'MISSOUR' 'EL ALIA' 'AIN HARROUDA' 'MOULAY YACOUB' 'BERCHID'
 'MARRAKECH AZLI' 'BEN SLIMANE' 'KASBA TADLA' 'KHOURIBGA' 'KHEMISSET'
 'BOUJDOUR' 'TAN TAN' 'AGDZ' 'SIDI BENNOUR' 'EL GARA' 'FNIDEQ' 'GZOULA'
 'FKIH BEN SALAH' 'AZILAL' 'AIN AOUDA' 'DEMNATE' 'AZEROU' 'AZEMMOUR'
 'GUELMIM' 'OUED ZEM' 'TAHANNAOUT' 'BENGUERIR' 'TISSA' 'KSAR EL KEBIR'
 'ASSILAH' 'LAAYOUNE EL MARSA' 'OUTAT EL HAJ' 'MIDDELT' 'AIN TAOUJDATE'
 'AGADIR ANZA' 'OULAD TAYMA' 'TAOURIRT' 'OUAZANE' 'TIFELT' 'SEFROU'
 'BIOUGRA' 'GUERCIF' 'SIDI BOU OTHMANE' 'LARACHE' 'BELFAA' 'EL HAJEB'
 'KETAMA' 'IMINTANOUTE' 'EL KSIBA' 'OULAD BERHIL' 'BEJAAD' 'LAATTAOUIA'
 'JERRADA' 'DRIOUCH' 'TATA' 'BOU AHMED' 'BNI MOUSSA GHARBIA'
 'SIDI ALLAL TAZI' 'ASSA' 'BAB TAZA' 'SIDI SMAIL' 'BOUARFA' 'GOULMIMA'
 'SOUK LARBAA' "KALAAT M'GOUNA" 'BEN AHMED' 'KARIA BA MOHAMED'
 'OUED AMLIL' 'BZOU' 'MECHRAA BELKSIRI' 'ROMMANI' "M'RIRT" 'ZEMAMRA'
 'IFRANE' 'SIDI IFNI' 'EL BOROUJ' 'TALIOUINE' 'MAJJAT' 'FIGUIG' 'TAMANAR'
 'SKHIRATE' 'SIEGE' 'TETOUAN SIDI MANDRI' 'COLBERT']
directionRegionale: ['SIDI OTMANE - HAY HASSANI' 'ANFA' 'Hay Mohammadi Ain Sebaa' "L'ORIENT"
 'FES BOULMANE' 'MEKNES' 'MARRAKECH-SAFI' 'Kénitra Khémisset' 'RABAT'
 'DARAA TAFILALET' 'BENI MELLAL KHENIFRA' 'LAAYOUNE SAKIA LHAMRA'
 'TANGER-TETOUAN-HOCEIMA' 'SOUSS MASSA' 'SETTAT' 'DAKHLA OUED EDDAHAB'
 'GUELMIM OUED NOUN' 'SIEGE']
admin_firstName: ['AHMIDA' 'MOHAMMED' 'ABDELHAMID' ... 'MOHAMED AHMED SAYED' 'WALED'
 'EZZIZAOUI']
admin_lastName: ['MOHAMMED' 'AHMIDA' 'GHARIB' ... 'EZZIZAOUI' 'ZOUTINA' 'BOUAKHF']
admin_cin: ['D408644' 'EMPTY' 'B389272' ... 'AB352719' 'AB621152' 'Z342251']
admin_email: [nan 'pharmachaoui07@hotmail.fr' 'altisconseil@menara.ma' ...
 'ZORALI.BTP@GMAIL.COM' 'ZOURIATOURS@GMAIL.COM'
 'noureddineljebbari@gmail.com']
admin_phoneNumber: [nan '0601216828' '0661399509' ... 600124214.0 700181377.0 662104387.0]
admin_isRL: [ 1.  0. nan]
bank_accountId: [8.57770000e+04            nan 1.60308120e+08 ... 1.60042457e+08
 1.60100508e+08 1.60099036e+08]
bank_bankCode: [190.  nan 230.  13.  22. 225.  21.  11.   7. 127. 181.  50. 360. 101.
 350. 145. 362. 164. 157.  28. 143. 363. 366. 365. 150. 148.   5. 117.
 178.   3.   2.  70. 172. 109. 155. 175. 133. 105.]
bank_adherent_id: [1.54576000e+05            nan 1.60037888e+08 ... 1.60049812e+08
 1.60092808e+08 1.60107452e+08]
bank_adherent_numAffilie: [7391254.      nan 7129217. ... 5964681. 1338548. 5747722.]
bank_adherent_typeAdherent: ['SIMPLE_ACCOUNT' nan 'GROUP_ACCOUNT']
bank_adherent_modaliteTelepaiement: ['TELEREGLEMENT' nan 'PRELEVEMENT_AUTOMATIQUE' 'BPC']
bank_adherent_adherentMandataire: [1.54576000e+05            nan 1.60037888e+08 ... 1.60049812e+08
 1.60092808e+08 1.60107452e+08]
bank_adherent_raisonSocial: [' "PHARMACIE CHAOUI"' nan ' ETTIJANY HICHAM "OPTIQUE BAGHDAD"' ...
 "zouyoune work's sarl" 'zphenix sarl au' 'întelligence of objects sarl']
bank_accountState: ['ACTIF' nan 'INACTIF']
bank_accountDefaultState: ['DEFAULT' nan 'NOT_DEFAULT']
bank_dateCreation: ['2015-09-14T09:00:15' nan '2022-05-05T14:14:53' ... '2018-10-10T07:59:54'
 '2020-01-17T14:35:42' '2020-01-08T12:37:03']
bank_accountRIB: ['190780212118051209001087' nan '230780271526621100120090' ...
 '181815212111122226000758' '225815066301640651012087'
 '011810000010210001188954']

In [84]:
# Analyser les colonnes
print("=== ANALYSE DES FEATURES ===\n")

# 1. Valeurs manquantes
print("Valeurs manquantes par colonne:")
print(dataset.isnull().sum())
print("\n")

# 2. Colonnes constantes
print("Colonnes avec une seule valeur unique:")
for col in dataset.columns:
    if dataset[col].nunique() == 1:
        print(f"  - {col}")
print("\n")

# 3. Cardinalité (nombre de valeurs uniques)
print("Cardinalité des colonnes:")
print(dataset.nunique().sort_values())
print("\n")

# 4. Types de données
print("Types de données:")
print(dataset.dtypes)

=== ANALYSE DES FEATURES ===

Valeurs manquantes par colonne:
companyName                                0
affiliateNumber                            0
dateAdhesion                               0
dateAffiliation                            0
typeAdherent                               0
companyNameMandataire                      0
affiliateNumberMandataire                  0
modaliteTelepaiement                       0
agence                                     0
directionRegionale                         0
admin_firstName                          106
admin_lastName                           101
admin_cin                              19721
admin_email                           526784
admin_phoneNumber                     806593
admin_isRL                                83
bank_accountId                        175136
bank_bankCode                         175136
bank_adherent_id                      175136
bank_adherent_numAffilie              175136
bank_adherent_typeAdherent            175136
bank_adherent_modaliteTelepaiement    175136
bank_adherent_adherentMandataire      175136
bank_adherent_raisonSocial            175136
bank_accountState                     175136
bank_accountDefaultState              175140
bank_dateCreation                     185218
bank_accountRIB                       175136
dtype: int64


Colonnes avec une seule valeur unique:


Cardinalité des colonnes:
typeAdherent                               2
admin_isRL                                 2
bank_accountState                          2
bank_adherent_typeAdherent                 2
bank_accountDefaultState                   2
bank_adherent_modaliteTelepaiement         3
modaliteTelepaiement                       3
directionRegionale                        18
bank_bankCode                             37
agence                                   177
dateAdhesion                            5636
dateAffiliation                         9060
admin_phoneNumber                     133763
admin_lastName                        136817
admin_firstName                       147757
admin_email                           192660
bank_adherent_adherentMandataire      318024
companyNameMandataire                 388212
affiliateNumberMandataire             389491
bank_adherent_raisonSocial            410368
bank_adherent_numAffilie              411803
bank_adherent_id                      411803
bank_dateCreation                     452056
bank_accountRIB                       456194
admin_cin                             456370
bank_accountId                        459045
companyName                           497653
affiliateNumber                       499871
dtype: int64


Types de données:
companyName                            object
affiliateNumber                         int64
dateAdhesion                           object
dateAffiliation                        object
typeAdherent                           object
companyNameMandataire                  object
affiliateNumberMandataire               int64
modaliteTelepaiement                   object
agence                                 object
directionRegionale                     object
admin_firstName                        object
admin_lastName                         object
admin_cin                              object
admin_email                            object
admin_phoneNumber                      object
admin_isRL                            float64
bank_accountId                        float64
bank_bankCode                         float64
bank_adherent_id                      float64
bank_adherent_numAffilie              float64
bank_adherent_typeAdherent             object
bank_adherent_modaliteTelepaiement     object
bank_adherent_adherentMandataire      float64
bank_adherent_raisonSocial             object
bank_accountState                      object
bank_accountDefaultState               object
bank_dateCreation                      object
bank_accountRIB                        object
dtype: object

In [85]:
# Colonnes à supprimer
colonnes_a_supprimer = [
    'companyName', 'companyNameMandataire', 'affiliateNumberMandataire',
    'admin_firstName', 'admin_lastName', 'admin_cin', 'admin_email', 'admin_phoneNumber', 'admin_isRL',
    'bank_bankCode', 'bank_adherent_id', 'bank_adherent_numAffilie', 'bank_dateCreation',
    'bank_accountId', 'bank_adherent_raisonSocial', 'bank_accountRIB', 'bank_adherent_adherentMandataire'
]

# Filtrer seulement les colonnes qui existent dans le dataset
colonnes_existantes = [col for col in colonnes_a_supprimer if col in dataset.columns]

# Supprimer les colonnes
dataset_clean = dataset.drop(columns=colonnes_existantes)

print(f"Colonnes supprimées : {colonnes_existantes}")
print(f"\nNombre de colonnes avant : {len(dataset.columns)}")
print(f"Nombre de colonnes après : {len(dataset_clean.columns)}")
print(f"\nColonnes restantes : {list(dataset_clean.columns)}")

Colonnes supprimées : ['companyName', 'companyNameMandataire', 'affiliateNumberMandataire', 'admin_firstName', 'admin_lastName', 'admin_cin', 'admin_email', 'admin_phoneNumber', 'admin_isRL', 'bank_bankCode', 'bank_adherent_id', 'bank_adherent_numAffilie', 'bank_dateCreation', 'bank_accountId', 'bank_adherent_raisonSocial', 'bank_accountRIB', 'bank_adherent_adherentMandataire']

Nombre de colonnes avant : 28
Nombre de colonnes après : 11

Colonnes restantes : ['affiliateNumber', 'dateAdhesion', 'dateAffiliation', 'typeAdherent', 'modaliteTelepaiement', 'agence', 'directionRegionale', 'bank_adherent_typeAdherent', 'bank_adherent_modaliteTelepaiement', 'bank_accountState', 'bank_accountDefaultState']

In [86]:
dataset_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094293 entries, 0 to 1094292
Data columns (total 11 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   affiliateNumber                     1094293 non-null  int64
 1   dateAdhesion                        1094293 non-null  object
 2   dateAffiliation                     1094293 non-null  object
 3   typeAdherent                        1094293 non-null  object
 4   modaliteTelepaiement                1094293 non-null  object
 5   agence                              1094293 non-null  object
 6   directionRegionale                  1094293 non-null  object
 7   bank_adherent_typeAdherent          919157 non-null   object
 8   bank_adherent_modaliteTelepaiement  919157 non-null   object
 9   bank_accountState                   919157 non-null   object
 10  bank_accountDefaultState            919153 non-null   object
dtypes: int64(1), object(10)
memory usage: 91.8+ MB

In [87]:
dataset_clean

,affiliateNumber,dateAdhesion,dateAffiliation,typeAdherent,modaliteTelepaiement,agence,directionRegionale,bank_adherent_typeAdherent,bank_adherent_modaliteTelepaiement,bank_accountState,bank_accountDefaultState
0,7391254,2014-02-04,2007-02-01,SIMPLE_ACCOUNT,TELEREGLEMENT,EL FIDA,SIDI OTMANE - HAY HASSANI,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT
1,7391254,2014-02-04,2007-02-01,SIMPLE_ACCOUNT,TELEREGLEMENT,EL FIDA,SIDI OTMANE - HAY HASSANI,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT
2,6006599,2011-01-06,1998-11-01,SIMPLE_ACCOUNT,BPC,MAARIF,ANFA,NaN,NaN,NaN,NaN
3,6006599,2011-01-06,1998-11-01,SIMPLE_ACCOUNT,BPC,MAARIF,ANFA,NaN,NaN,NaN,NaN
4,7129217,2018-06-07,2005-06-01,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,MOULAY RACHID,SIDI OTMANE - HAY HASSANI,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,ACTIF,DEFAULT
...,...,...,...,...,...,...,...,...,...,...,...
1094288,1338548,2019-09-10,2019-02-01,SIMPLE_ACCOUNT,TELEREGLEMENT,RABAT HASSAN,RABAT,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT
1094289,5350666,2018-04-30,2017-04-01,SIMPLE_ACCOUNT,BPC,FES AGDAL,FES BOULMANE,NaN,NaN,NaN,NaN
1094290,5350666,2018-04-30,2017-04-01,SIMPLE_ACCOUNT,BPC,FES AGDAL,FES BOULMANE,NaN,NaN,NaN,NaN
1094291,5747722,2020-01-08,2018-02-01,SIMPLE_ACCOUNT,TELEREGLEMENT,RABAT HASSAN,RABAT,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT
1094292,5747722,2020-01-08,2018-02-01,SIMPLE_ACCOUNT,TELEREGLEMENT,RABAT HASSAN,RABAT,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT

In [88]:
# Afficher l'état avant nettoyage
print("=== AVANT NETTOYAGE ===")
print(f"Nombre de lignes : {len(dataset_clean)}")
print(f"Nombre de doublons : {dataset_clean.duplicated().sum()}")
print(f"Nombre de lignes avec valeurs nulles : {dataset_clean.isnull().any(axis=1).sum()}")
print("\n")

# 1. Supprimer les doublons
dataset_clean = dataset_clean.drop_duplicates()
print(f"Après suppression des doublons : {len(dataset_clean)} lignes")

# 2. Supprimer les lignes avec valeurs nulles
dataset_clean = dataset_clean.dropna()
print(f"Après suppression des nulles : {len(dataset_clean)} lignes")

# Afficher l'état après nettoyage
print("\n=== APRÈS NETTOYAGE ===")
print(f"Nombre de lignes final : {len(dataset_clean)}")
print(f"Valeurs nulles restantes : {dataset_clean.isnull().sum().sum()}")
print(f"Doublons restants : {dataset_clean.duplicated().sum()}")

=== AVANT NETTOYAGE ===
Nombre de lignes : 1094293
Nombre de doublons : 551362
Nombre de lignes avec valeurs nulles : 175140


Après suppression des doublons : 542931 lignes
Après suppression des nulles : 454852 lignes

=== APRÈS NETTOYAGE ===
Nombre de lignes final : 454852
Valeurs nulles restantes : 0
Doublons restants : 0

In [89]:
for i in dataset_clean.columns:
    print(i+':',dataset_clean[i].unique())

affiliateNumber: [7391254 7129217 7241847 ... 5964681 1338548 5747722]
dateAdhesion: ['2014-02-04' '2018-06-07' '2020-10-14' ... '2006-09-15' '2005-09-02'
 '2017-09-30']
dateAffiliation: ['2007-02-01' '2005-06-01' '2006-05-02' ... '1992-06-29' '2019-02-24'
 '1997-09-16']
typeAdherent: ['SIMPLE_ACCOUNT' 'GROUP_ACCOUNT']
modaliteTelepaiement: ['TELEREGLEMENT' 'PRELEVEMENT_AUTOMATIQUE' 'BPC']
agence: ['EL FIDA' 'MOULAY RACHID' 'AL AMANE' 'OUJDA CHOUHADAA' 'FES AGDAL'
 'AIN SEBAA' 'MEKNES HAMRIA' 'MARRAKECH SIDI YOUSSEF BEN ALI'
 'DERB GHALLEF' 'MARRAKECH INARA' 'RABAT TAKKADOUM' 'ERFOUD'
 'KENITRA AL QODS' 'KENITRA SAKNIA' 'AL AMAL' 'RABAT HASSAN' 'HAY HASSANI'
 'ZIRAOUI' 'KHENIFRA' 'YOUSSOUFIA' 'SALE TABRIQUET' 'SIDI MAAROUF'
 'OUARZAZATE' 'BEN MSIK SIDI OTHMAN' 'SALE BETTANA' 'MEKNES ISMAILIA'
 'MAARIF' 'TEMARA CENTRE' 'SBATA' 'MOHAMMEDIA' 'BEAUSEJOUR' 'TAOUNATE'
 'MY YOUSSEF' 'BOUSKOURA' 'AL FATH' 'SIDI KACEM' 'RABAT YACOUB AL MANSOUR'
 'MERS SULTAN' 'ERRACHIDIA' 'MARRAKECH DAOUDIATE' 'ESSAOUIRA'
 "MARRAKECH M'HAMID" 'MEDIOUNA' 'EL KELAA SRAGHNA' 'TINGHIR'
 'TEMARA AL MASSIRA' 'ROCHES NOIRES' 'DCHEIRA' 'EL JADIDA'
 'TETOUAN ABDELKHALEK TORRES' 'INARA' 'SAFI NORD' 'TANGER DRISSIA'
 'BENI MALLAL' 'BOURGOGNE' 'MGHOUGHA' 'AGADIR TALBORJT' 'AGADIR DAKHLA'
 'SIDI BELYOUT' 'AL OUSRA' 'CHAOUEN' 'TAROUDANT' 'AIT MELLOUL'
 'FES MOULAY EL KAMEL' 'AL HOCEIMA' 'TANGER PLACE DU MAROC'
 'FES SIDI BRAHIM' 'OUJDA AGDAL' 'AIT OURIR' 'HAD SOUALEM' 'SETTAT'
 'SIDI MOUMEN' 'AL WALAA' 'CHICHAOUA' 'TANGER IBN BATOUTA' 'HAKAM' 'TAZA'
 'KSAR SGHIR' 'RAHMA' 'LAAYOUNE' 'NADOR' 'TAFRAOUT' 'TIZNIT' 'SOCRATE'
 'SAFI SIDI OUASSEL' 'SIDI BERNOUSSI' 'DAKHLA' 'SIDI SLIMANE' 'MISSOUR'
 'EL ALIA' 'AIN HARROUDA' 'MOULAY YACOUB' 'BERCHID' 'TIT MELLIL'
 'BEN SLIMANE' 'ZAGORA' 'KHOURIBGA' 'KHEMISSET' 'BOUJDOUR' 'BERKANE'
 'AGDZ' 'SIDI BENNOUR' 'EL GARA' 'FNIDEQ' 'GZOULA' 'FKIH BEN SALAH'
 'AZILAL' 'AIN AOUDA' 'DEMNATE' 'TAN TAN' 'AZEROU' 'MARRAKECH AZLI'
 'AZEMMOUR' 'GUELMIM' 'OUED ZEM' 'TAHANNAOUT' 'BENGUERIR' 'TISSA'
 'KSAR EL KEBIR' 'ASSILAH' 'LAAYOUNE EL MARSA' 'OUTAT EL HAJ'
 'AIN TAOUJDATE' 'AGADIR ANZA' 'OULAD TAYMA' 'TAOURIRT' 'TIFELT' 'SEFROU'
 'BIOUGRA' 'GUERCIF' 'SIDI BOU OTHMANE' 'LARACHE' 'MIDDELT' 'BELFAA'
 'EL HAJEB' 'KETAMA' 'IMINTANOUTE' 'EL KSIBA' 'OULAD BERHIL' 'BEJAAD'
 'LAATTAOUIA' 'KASBA TADLA' 'JERRADA' 'OUAZANE' 'TATA' 'DRIOUCH'
 'BOU AHMED' 'SIDI ALLAL TAZI' 'ASSA' 'BNI MOUSSA GHARBIA' 'BAB TAZA'
 'SIDI SMAIL' 'BOUARFA' 'SOUK LARBAA' "KALAAT M'GOUNA" 'BEN AHMED'
 'KARIA BA MOHAMED' 'OUED AMLIL' 'BZOU' 'MECHRAA BELKSIRI' 'ROMMANI'
 "M'RIRT" 'IFRANE' 'SIDI IFNI' 'EL BOROUJ' 'TALIOUINE' 'ZEMAMRA'
 'GOULMIMA' 'MAJJAT' 'ES SMARA' 'FIGUIG' 'TAMANAR' 'GHAFSAI' 'SKHIRATE'
 'TETOUAN SIDI MANDRI' 'COLBERT']
directionRegionale: ['SIDI OTMANE - HAY HASSANI' 'Hay Mohammadi Ain Sebaa' "L'ORIENT"
 'FES BOULMANE' 'MEKNES' 'MARRAKECH-SAFI' 'ANFA' 'RABAT' 'DARAA TAFILALET'
 'Kénitra Khémisset' 'BENI MELLAL KHENIFRA' 'SOUSS MASSA' 'SETTAT'
 'TANGER-TETOUAN-HOCEIMA' 'LAAYOUNE SAKIA LHAMRA' 'DAKHLA OUED EDDAHAB'
 'GUELMIM OUED NOUN']
bank_adherent_typeAdherent: ['SIMPLE_ACCOUNT' 'GROUP_ACCOUNT']
bank_adherent_modaliteTelepaiement: ['TELEREGLEMENT' 'PRELEVEMENT_AUTOMATIQUE' 'BPC']
bank_accountState: ['ACTIF' 'INACTIF']
bank_accountDefaultState: ['DEFAULT' 'NOT_DEFAULT']

In [90]:
# Convertir les colonnes de dates en datetime
date_columns = ['dateAdhesion', 'dateAffiliation']

for col in date_columns:
    if col in dataset_clean.columns:
        dataset_clean[col] = pd.to_datetime(dataset_clean[col], errors='coerce')

# Features d'ancienneté (mois depuis aujourd'hui)
if 'dateAdhesion' in dataset_clean.columns:
    dataset_clean['anciennete_adhesion_months'] =(pd.Timestamp.now() - dataset_clean['dateAdhesion']).dt.days / 30.44
    dataset_clean['anciennete_adhesion_months'] = dataset_clean['anciennete_adhesion_months'].round(0)


if 'dateAffiliation' in dataset_clean.columns:
    dataset_clean['anciennete_affiliation_months'] = (pd.Timestamp.now() - dataset_clean['dateAffiliation']).dt.days / 30.44
    dataset_clean['anciennete_affiliation_months'] = dataset_clean['anciennete_affiliation_months'].round(0)

# Différence entre les deux dates
if 'dateAdhesion' in dataset_clean.columns and 'dateAffiliation' in dataset_clean.columns:
    dataset_clean['months_adhesion_affiliation'] = (dataset_clean['dateAdhesion'] - dataset_clean['dateAffiliation']).dt.days / 30.44
    dataset_clean['months_adhesion_affiliation'] = dataset_clean['months_adhesion_affiliation'].round(0)

# Supprimer les colonnes de dates originales
dataset_clean = dataset_clean.drop(columns=[col for col in date_columns if col in dataset_clean.columns])

# Afficher les nouvelles features extraites
print("Features extraites des dates:")
print([col for col in dataset_clean.columns 
       if any(keyword in col for keyword in ['adhesion', 'affiliation'])])

Features extraites des dates:
['anciennete_adhesion_months', 'anciennete_affiliation_months', 'months_adhesion_affiliation']

In [91]:
dataset_clean['anciennete_adhesion_months'] = dataset_clean['anciennete_adhesion_months'].astype(int)
dataset_clean['anciennete_affiliation_months'] = dataset_clean['anciennete_affiliation_months'].astype(int)
dataset_clean['months_adhesion_affiliation'] = dataset_clean['months_adhesion_affiliation'].astype(int)

In [92]:
dataset_clean.head(10)

,affiliateNumber,typeAdherent,modaliteTelepaiement,agence,directionRegionale,bank_adherent_typeAdherent,bank_adherent_modaliteTelepaiement,bank_accountState,bank_accountDefaultState,anciennete_adhesion_months,anciennete_affiliation_months,months_adhesion_affiliation
0,7391254,SIMPLE_ACCOUNT,TELEREGLEMENT,EL FIDA,SIDI OTMANE - HAY HASSANI,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT,142,226,84
4,7129217,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,MOULAY RACHID,SIDI OTMANE - HAY HASSANI,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,ACTIF,DEFAULT,90,246,156
6,7241847,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,AL AMANE,Hay Mohammadi Ain Sebaa,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,ACTIF,DEFAULT,61,235,173
8,8725353,SIMPLE_ACCOUNT,TELEREGLEMENT,OUJDA CHOUHADAA,L'ORIENT,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT,173,175,2
10,7049324,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,FES AGDAL,FES BOULMANE,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,ACTIF,DEFAULT,215,240,25
12,7288857,SIMPLE_ACCOUNT,TELEREGLEMENT,AIN SEBAA,Hay Mohammadi Ain Sebaa,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT,88,232,144
14,8698534,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,MEKNES HAMRIA,MEKNES,SIMPLE_ACCOUNT,PRELEVEMENT_AUTOMATIQUE,ACTIF,DEFAULT,131,175,43
16,6176459,SIMPLE_ACCOUNT,TELEREGLEMENT,MARRAKECH SIDI YOUSSEF BEN ALI,MARRAKECH-SAFI,SIMPLE_ACCOUNT,TELEREGLEMENT,ACTIF,DEFAULT,201,314,113
18,6011077,GROUP_ACCOUNT,TELEREGLEMENT,DERB GHALLEF,ANFA,GROUP_ACCOUNT,TELEREGLEMENT,ACTIF,NOT_DEFAULT,241,321,80
19,6011077,GROUP_ACCOUNT,TELEREGLEMENT,DERB GHALLEF,ANFA,GROUP_ACCOUNT,TELEREGLEMENT,INACTIF,NOT_DEFAULT,241,321,80

In [93]:
dataset_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 454852 entries, 0 to 1094291
Data columns (total 12 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   affiliateNumber                     454852 non-null  int64
 1   typeAdherent                        454852 non-null  object
 2   modaliteTelepaiement                454852 non-null  object
 3   agence                              454852 non-null  object
 4   directionRegionale                  454852 non-null  object
 5   bank_adherent_typeAdherent          454852 non-null  object
 6   bank_adherent_modaliteTelepaiement  454852 non-null  object
 7   bank_accountState                   454852 non-null  object
 8   bank_accountDefaultState            454852 non-null  object
 9   anciennete_adhesion_months          454852 non-null  int64
 10  anciennete_affiliation_months       454852 non-null  int64
 11  months_adhesion_affiliation         454852 non-null  int64
dtypes: int64(4), object(8)
memory usage: 45.1+ MB

In [94]:
print("Colonnes restantes:", list(dataset_clean.columns))
print("\nTypes de données:")
print(dataset_clean.dtypes)
print("\nNombre total de lignes:", len(dataset_clean))

Colonnes restantes: ['affiliateNumber', 'typeAdherent', 'modaliteTelepaiement', 'agence', 'directionRegionale', 'bank_adherent_typeAdherent', 'bank_adherent_modaliteTelepaiement', 'bank_accountState', 'bank_accountDefaultState', 'anciennete_adhesion_months', 'anciennete_affiliation_months', 'months_adhesion_affiliation']

Types de données:
affiliateNumber                        int64
typeAdherent                          object
modaliteTelepaiement                  object
agence                                object
directionRegionale                    object
bank_adherent_typeAdherent            object
bank_adherent_modaliteTelepaiement    object
bank_accountState                     object
bank_accountDefaultState              object
anciennete_adhesion_months             int64
anciennete_affiliation_months          int64
months_adhesion_affiliation            int64
dtype: object

Nombre total de lignes: 454852

## Étape 1: Encoder les variables catégorielles

In [95]:
# Identifier les colonnes catégorielles (type object)
categorical_cols = dataset_clean.select_dtypes(include=['object']).columns.tolist()
print("Colonnes catégorielles à encoder:")
for col in categorical_cols:
    print(f"  - {col}: {dataset_clean[col].nunique()} valeurs uniques")
print(f"\nTotal: {len(categorical_cols)} colonnes")

Colonnes catégorielles à encoder:
  - typeAdherent: 2 valeurs uniques
  - modaliteTelepaiement: 3 valeurs uniques
  - agence: 176 valeurs uniques
  - directionRegionale: 17 valeurs uniques
  - bank_adherent_typeAdherent: 2 valeurs uniques
  - bank_adherent_modaliteTelepaiement: 3 valeurs uniques
  - bank_accountState: 2 valeurs uniques
  - bank_accountDefaultState: 2 valeurs uniques

Total: 8 colonnes

In [96]:
from sklearn.preprocessing import LabelEncoder

# Créer une copie du dataset
dataset_encoded = dataset_clean.copy()

# Identifier les colonnes catégorielles (type object)
categorical_cols = dataset_encoded.select_dtypes(include=['object']).columns.tolist()

print("=== ENCODAGE DES VARIABLES CATÉGORIELLES ===\n")
print(f"Colonnes à encoder : {categorical_cols}\n")

# Encoder chaque colonne catégorielle
label_encoders = {}
for col in categorical_cols:
    if col == 'affiliateNumber':
        continue
    le = LabelEncoder()
    dataset_encoded[col] = le.fit_transform(dataset_encoded[col].astype(str))
    label_encoders[col] = le
    print(f"✓ {col}: {len(le.classes_)} classes → encodé en [0-{len(le.classes_)-1}]")

print(f"\n✓ Encodage terminé pour {len(categorical_cols)} colonnes")

# Vérifier le résultat
print("\n=== VÉRIFICATION ===")
print(f"Colonnes de type 'object' restantes : {len(dataset_encoded.select_dtypes(include=['object']).columns)}")
print(f"\nTypes de données après encodage :")
print(dataset_encoded.dtypes.value_counts())

# Afficher un aperçu
print("\nAperçu des données encodées :")
dataset_encoded.head()

=== ENCODAGE DES VARIABLES CATÉGORIELLES ===

Colonnes à encoder : ['typeAdherent', 'modaliteTelepaiement', 'agence', 'directionRegionale', 'bank_adherent_typeAdherent', 'bank_adherent_modaliteTelepaiement', 'bank_accountState', 'bank_accountDefaultState']

✓ typeAdherent: 2 classes → encodé en [0-1]
✓ modaliteTelepaiement: 3 classes → encodé en [0-2]
✓ agence: 176 classes → encodé en [0-175]
✓ directionRegionale: 17 classes → encodé en [0-16]
✓ bank_adherent_typeAdherent: 2 classes → encodé en [0-1]
✓ bank_adherent_modaliteTelepaiement: 3 classes → encodé en [0-2]
✓ bank_accountState: 2 classes → encodé en [0-1]
✓ bank_accountDefaultState: 2 classes → encodé en [0-1]

✓ Encodage terminé pour 8 colonnes

=== VÉRIFICATION ===
Colonnes de type 'object' restantes : 0

Types de données après encodage :
int64    12
Name: count, dtype: int64

Aperçu des données encodées :

,affiliateNumber,typeAdherent,modaliteTelepaiement,agence,directionRegionale,bank_adherent_typeAdherent,bank_adherent_modaliteTelepaiement,bank_accountState,bank_accountDefaultState,anciennete_adhesion_months,anciennete_affiliation_months,months_adhesion_affiliation
0,7391254,1,2,50,14,1,2,0,0,142,226,84
4,7129217,1,1,110,14,1,1,0,0,90,246,156
6,7241847,1,1,11,6,1,1,0,0,61,235,173
8,8725353,1,2,119,8,1,2,0,0,173,175,2
10,7049324,1,1,60,4,1,1,0,0,215,240,25

In [97]:
dataset_encoded

,affiliateNumber,typeAdherent,modaliteTelepaiement,agence,directionRegionale,bank_adherent_typeAdherent,bank_adherent_modaliteTelepaiement,bank_accountState,bank_accountDefaultState,anciennete_adhesion_months,anciennete_affiliation_months,months_adhesion_affiliation
0,7391254,1,2,50,14,1,2,0,0,142,226,84
4,7129217,1,1,110,14,1,1,0,0,90,246,156
6,7241847,1,1,11,6,1,1,0,0,61,235,173
8,8725353,1,2,119,8,1,2,0,0,173,175,2
10,7049324,1,1,60,4,1,1,0,0,215,240,25
...,...,...,...,...,...,...,...,...,...,...,...,...
1094279,5666357,1,2,81,7,1,2,0,0,14,15,1
1094281,4085102,1,2,125,12,1,2,0,0,42,42,0
1094285,5964681,1,2,123,12,1,2,0,0,86,90,4
1094287,1338548,1,2,123,12,1,2,0,0,75,82,7
1094291,5747722,1,2,123,12,1,2,0,0,71,94,23

In [98]:
# Supprimer les doublons en gardant la ligne avec la plus grande ancienneté
print("=== SUPPRESSION DES DOUBLONS PAR affiliateNumber ===\n")
print(f"Nombre de lignes avant : {len(dataset_encoded)}")

# Trier par affiliateNumber et anciennete_adhesion_months (décroissant)
dataset_encoded = dataset_encoded.sort_values('anciennete_adhesion_months', ascending=False)

# Garder la première ligne de chaque affiliateNumber (= celle avec la plus grande ancienneté)
dataset_encoded = dataset_encoded.drop_duplicates(subset=['affiliateNumber'], keep='first')

print(f"✓ Nombre de lignes après : {len(dataset_encoded)}")
print(f"✓ Gardé : la ligne avec la plus grande ancienneté pour chaque adhérent")

=== SUPPRESSION DES DOUBLONS PAR affiliateNumber ===

Nombre de lignes avant : 454852
✓ Nombre de lignes après : 411801
✓ Gardé : la ligne avec la plus grande ancienneté pour chaque adhérent

In [99]:
import pickle

# 1. Sauvegarder le dataset encodé
dataset_encoded.to_csv('dataset_encoded_adherents.csv', index=False)

# 2. Sauvegarder les label encoders (pour pouvoir décoder)
with open('label_encoders_adherents.pkl', 'wb') as f:
    pickle.dump(label_encoders, f)

# 3. Sauvegarder aussi les mappings en CSV lisible
mappings_df = pd.DataFrame()
for col in categorical_cols:
    mapping = pd.DataFrame({
        'column': col,
        'code': range(len(label_encoders[col].classes_)),
        'original_value': label_encoders[col].classes_
    })
    mappings_df = pd.concat([mappings_df, mapping], ignore_index=True)

mappings_df.to_csv('encodage_mappings_adherents.csv', index=False)

print("✓ Fichiers sauvegardés :")
print("  - dataset_encoded_adherents.csv")
print("  - label_encoders_adherents.pkl")
print("  - encodage_mappings_adherents.csv")

✓ Fichiers sauvegardés :
  - dataset_encoded_adherents.csv
  - label_encoders_adherents.pkl
  - encodage_mappings_adherents.csv